body{
  font-family: 'Titillium Web', sans-serif;
  color: #252525;
  box-sizing: border-box;
  width: 75%;
  margin: 0 auto;
  padding-top: 2em;
}

h2 {
  text-align: center;
}

.top-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-container .left{
  width: 25%;
}

.top-container .right{
  text-align: right;
}

.top-container .name{
  font-size: 4em;
}

.top-container .location{
  color: grey;
  font-size: 0.8em;
}

.top-container .quote{
  color: grey;
}

a {
  text-decoration: none;
  color: #252525;
}


.avatar {
  width: 80%;
  border-radius: 50%;
  border: 1px dotted tan;
  margin-top: 1em;
}

.red {
  color: rgb(173, 16, 16)
}

.summary-text {
  text-align: justify;
  width: 100%;
}

table h5{
  line-height: 30%;
}

.title-company {
  display: flex;
  justify-content: space-between;
}

.table-icon {
  width: 20%;
}

img.img-icon {
  width: 80%;
  max-height: 6em;
  border-radius: 6px;
  transition: all .2s ease-in-out; 
  transform-origin: top left;
}

img.img-icon:hover {
  transform: scale(4);
}

.employment-date {
  font-size: 0.9em;
  color: grey;
}
