body{
  font-family: 'Titillium Web', sans-serif;
  color: #252525;
  box-sizing: border-box;
  width: 75%;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.top-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-container .right{
  text-align: right;
}

.top-container .name{
  font-size: 4em;
}

.top-container .location{
  color: grey;
  font-size: 0.8em;
}

.top-container .quote{
  color: grey;
}

a {
  text-decoration: none;
  color: #252525;
}


.avatar {
  height: 12em;
  border-radius: 50%;
  border: 1px dotted tan;
  margin-top: 1em;
}

.red {
  color: rgb(173, 16, 16)
}

/* h2.title:after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-bottom: 4px dotted rgb(173, 16, 16);
  overflow: hidden;
  justify-content: space-around;
} */

.summary-text {
  text-align: justify;
  width: 100%;
}

table h5{
  line-height: 30%;
}

.title-company {
  display: flex;
  justify-content: space-between;
}

img.img-icon {
  width: 8em;
  height: 4em;
  border-radius: 6px;
}

.employment-date {
  font-size: 0.9em;
  color: grey;
}

.table-icon {
  width: 20%;
}